<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price)="{ item }">
              ฿{{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('Submit', product)
      if (product._id === '') {
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            const newProduct = response.data
            this.getProducts()
            this.makeToast('เพิ่มสำเร็จ', 'สิ้นค้า ' + newProduct._id + ' ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามรถเพิ่ม' + product._id, 'danger')
        })
      } else {
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          function (response) {
            const updateProduct = response.data
            this.getProducts()
            this.makeToast('ปรับปรุงสำเร็จ', 'สิ้นค้า ' + updateProduct._id + ' ถูกแก้ไขแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามรถปรับปรุง' + product._id, 'danger')
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(
          function (response) {
            this.getProducts()
            this.makeToast('ลบสำเร็จ', 'สิ้นค้า ' + product._id + ' ถูกลบแล้ว')
          }.bind(this)
        ).catch(() => {
          this.getProducts()
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามรถลบ' + product._id, 'danger')
        })
      }
    },
    getProducts () {
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        this.productItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [
      ],
      selectedItem: null
    }
  },
  mounted () {
    this.getProducts()
  }
}
</script>
<style></style>
